body {
    background-color: white;
    font-family: "nyt-franklin", helvetica, arial, sans-serif;
    display: block;
    height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: black;
    display: inline;
  }
  
  .main-nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 4px 15px 2px;
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e2e2e2;
    margin: 0 auto;
    max-width: 1605px;
    height: 36px;
  }
  .nav-center {
    display: flex;
    align-items: center;
    width: 250px;
  }
  .button {
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.6s ease 0s;
    vertical-align: middle;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 11px 12px 8px;
    text-transform: uppercase;
    margin: 1px;
  }
  
  .button:hover {
    background-color: rgb(50, 104, 145);
    border: 1px solid rgb(50, 104, 145);  
}
.title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
    font-style: italic;
    }
  
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .media{
      float: right;
      size:20pc;
  
    }
    .text{
      text-align: center;
    }
  .article{
    text-align: center;
  }
  .youtube{
    text-align: center;
  }
  .article1{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
   text-align: center;
  }
  .image{
    text-align: center;
  }
  .article2{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
   text-align: center;
  }
  .referances {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.76rem;
    margin: auto;
    color: rgb(61, 10, 10);
  }

  
.footer-part1 {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
  padding-left: 75px;
  border-top: 5.9px double #d9d9d9;
}

.footer-part1 a {
  font-size: 0.76em;
  padding-right: 125px;  
}

.footer-endlists {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  margin-top: 25px;
}

.footer-endlists ul {
  list-style: none;
  padding-bottom: 50px;
  font-size: 0.8em;
}
.footer-endlists li:hover {
  text-decoration: underline;
}

.bottom-navbar li {
  margin-right: 30px;
}

.final-ul {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 40px;
  border-left: 1.5px solid  #d9d9d9;
}

.menu-headings {
  font-size:24px;
  font-weight: bold;
}

.end-bar {
  display: inline-block;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 96%;
   border-top: 1px solid black;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-1 {
  padding-left: 37%;
  font-size: 0.9rem;
  align-self: center;
  margin-top: 12px;
}

.bottom-2 {
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 18%;
  align-self: center;
  margin-top: 12px;
}

.bottom-3 {
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 5%;
  margin-top: 12px;
}

.bottom-navbar{
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  font-size: 0.7em;
  margin-bottom: 55px;
  margin-left: auto;
  padding: 10px 70px;
  border-top: 1px solid #d9d9d9;
}

.referances {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  margin: auto;
  color: #666;
}


